.nt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nt1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nt1 p {
  padding: 0 5px;
}

body{
  background-color: lightgrey;
}

#container {
width: 1200px;
background-color: white;
margin-left: auto;
margin-right: auto;

}

header{
float: center;

}

#nav {

    width: 280px;
    float: left;
    background-color: grey;
    padding: 10px;
    height: 1200px;
}


#main {

    max-width: 800px;
    float: right;
    padding: 20px;

}

table.myname {
  float: center;
}

article{
  text-align: justify;
  margin-right: 10px;
}

footer{
  clear: both;
}

ul {

list-style-type:none;
}

#main-header{
  border: 5px outset black;
  border-color: black;
  text-align: center;
}



article p {

  font-weight: bold;
}

.description {
  font-weight: normal;

}

#location {
  float: right;
  font-weight: bold;
}

h2{
  margin-bottom: -3px;
}

.intro p {
  margin: 2px;
  padding: 2px;
}

a{
  text-decoration: none;
}
